header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 40px 0;
    height: 30vh;
}

main {
    display: flex;
}

main section {
    background-color: green;
    width: 75%;
    height: 70vh;
}


aside {
    background-color: red;
    width: 25%;
    height: 70vh;
}
